<% if flash[:success] %>
    <div class="alert alert-success">
        <%= flash[:success] %>
    </div>
<% end %>

<% if flash[:notice] %>
    <div class="alert alert-warning">
        <%= flash[:notice] %>
    </div>
<% end %>